body{
  background-color: bisque;
}

.App {
  text-align: center;
  margin-top: 50px;
  border: 2px;
}

form {
  display: inline-block;
  text-align: left;
  border: 2px;
}

div {
  margin-bottom: 10px;
  border: 2px;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* input, select, textarea, button {
  padding: 10px;
  margin-top: 5px;
  margin-left: 2%;
} */
input{
  position: absolute;
  left: 57%;
}
select{
  position: absolute;
  left: 57%;
}
textarea{
  position: absolute;
  left: 57%;
}



p {
  color: red;
  margin: 0;
}
